{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="regular-page-wrapper">
      <div class="container">

        <img src="/img/misc/about.jpg" alt="" class="img-responsive center-block featured-image">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            
            <div id="regular-content">
              <h1>Marie-Ève Dontigny <strong>X</strong> Andréanne Courchesne <strong>= Local C<strong></h1>
              <p>Local C, c’est l’implication et l’amour d’Andréanne pour la mode et les créateurs locaux jumelés à la vaste expérience de Marie-Ève dans l’achat de produits promotionnels faits au Québec. Additionnez le tout et vous obtenez un duo au sens des affaires aiguisé — et aux fous rires contagieux — spécialisé dans le développement d’objets personnalisés uniques.</p>
              <h2>« Notre entreprise, c’est la somme de nos <strong>passions</strong> et de notre <strong>complémentarité</strong>. En résumé, on met le talent des <strong>créateurs locaux</strong> au service des entreprises du <strong>Québec</strong>. »  — Andréanne et Marie-Ève</h2>
              <h2>Mission</h2>
              <p>Propulser les entreprises du Québec tout en mettant en valeur le talent des créateurs locaux. Le résultat : des objets personnalisés qui se démarquent.</p>
              <h2>Vision</h2>
              <p>Nous croyons au travail d’équipe et à la collaboration. Lorsque les entreprises, créateurs et entrepreneurs s’unissent, on rayonne collectivement. </p>
            </div>
            <!-- // content  -->
            <img src="/img/misc/about2.jpg" alt="" class="img-responsive center-block featured-image lowest-image">

          </div>
          <!-- // row -->

        </div>
        <!-- // container  -->

      </div>
    </section>
    <!-- // regular wrapper  -->

{{ partial "footer.html" . }}