{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="regular-page-wrapper">
      <div class="container">

      <img src="/img/misc/about.jpg" alt="" class="img-responsive center-block featured-image">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            
            <div id="regular-content">
              <h1>Des produits <strong>corporatifs</strong>  fabriqués localement.</h1>
              <p>Local C, c’est votre partenaire dans la découverte de produits corporatifs au design unique, personnalisable et fabriqué localement. Nous promouvons la fabrication locale par le biais de la vente d’objets promotionnels auprès de grandes entreprises. Marie-Eve Dontigny et Andréanne Courchesne, amoureuses de design local, ont créé Local C pour offrir aux entreprises des produits corporatifs de qualité.</p>
              <p>Pellentesque odio leo, laoreet eget dui sed, varius auctor neque. Aenean ut volutpat lectus, volutpat ullamcorper velit. Aliquam imperdiet turpis eget elit.</p>
              <h2>Nous croyons en la <strong>transparence</strong> et au <strong>design éthique</strong>.</h2>
              <p>Dans tout ce que nous entreprenons, nous prônons des valeurs d’authenticité, de qualité et d’accessibilité.</p>
              <p>Nous voulons offrir aux entreprises les meilleurs produits corporatifs fabriqués localement. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit mi, feugiat eget tincidunt feugiat, tincidunt non metus. Morbi blandit quis lacus non volutpat. </p>
            </div>
            <!-- // content  -->

          </div>
          <!-- // row -->

          <img src="/img/misc/about2.jpg" alt="" class="img-responsive center-block featured-image">

        </div>
        <!-- // container  -->

      </div>
    </section>
    <!-- // regular wrapper  -->

{{ partial "footer.html" . }}