{{ partial "head.html" . }}

    {{ partial "header.html" . }}
    <section id="product-page-block" class="simpleCart_shelfItem">
      <div class="container">

      <div class="row visible-xs mobile-header-products">
        <div class="col-md-12">
          <header>
            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Retour</a>
            <h1 class="item_name">{{.Title}}</h1>
          </header>
        </div>
      </div>
      <!-- // mobile title  -->

        <div class="row">
          
          <div class="col-md-6 col-sm-12">
            <div id="product-images">
              

                      <div class="slider slider-for">
                        {{ range $i, $e := .Params.images }}
                        <div class="easyzoom easyzoom--overlay">
                          <a href="{{ $e }}">
                            <img src="{{ $e }}" id="image" title="" alt="" class="{{ if eq $i 0}}item_thumb{{end}}" />
                          </a>
                        </div>
                        {{ end }}
                      </div>
                      <!-- // big images  -->

                      <div class="slider slider-nav">
                        {{ range .Params.images }}
                          <div class="thumb-box">
                              <img src="{{ . }}" id="image" class="img-responsive" title="" alt="" />
                          </div>
                        {{ end }}                                               
                      </div>
                      <!-- // product image slider nav -->

                <div id="social-share">
                  <ul>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://pinterest.com/pin/create/button/?url={{.Permalink}}&media={{ .Params.image }}&description={{.Summary}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                  </ul>                  
                </div>
                <!-- // share  -->                      


            </div>
          </div>
          <!-- // product images  -->

          <div class="col-md-6 col-sm-12">
            <div id="product-content">
              
              <header class="hidden-xs">
                <h1>{{.Title}}</h1>
              </header>
              
              <div class="product-description">
                {{ .Content }}

                <h6>CRÉATEUR: <a href="/createurs/{{.Params.createurs}}">{{.Params.nomcreateur}}</a></h6>
                <h6>DÉLAIS DE LIVRAISON: <small>{{ .Params.delai }}</small></h6>
                <h6>Catégorie de produits: <small>{{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}</small></h6>

              </div>
              <!-- // description  -->

              <div class="product-details">
                
                <table width="100%">
                  <tr>
                    <th colspan="5">PRIX / QUANTITÉ</th>
                  </tr>
                  <tr>
                    <td><strong>Quantité</strong></td>
                    {{with .Params.prix}}
                      {{range $ind,$val := .}}
                        <td>{{ $val.quantite }}</td>
                      {{end}}
                    {{end}}
                    <!-- <td>50</td>
                    <td>100</td>
                    <td>250</td>
                    <td>500 et +</td> -->
                  </tr>
                  <tr>
                    <td><strong>Prix</strong></td>
                    {{with .Params.prix}}
                      {{range $ind,$val := .}}
                        <td>{{ lang.NumFmt 2 $val.montant }}$</td>
                      {{end}}
                    {{end}}
                  </tr>
                </table>

                <small class="table-notice">{{ .Params.noteprix }}</small>

                <div id="product-actions">
                  {{with .Params.variante}}
                    {{range $ind,$val := .}}
                      <div class="row form-box">
                        <div class="col-md-4 col-xl-4 col-lg-5 col-sm-5">
                          <label for="">{{ $val.nom }} :</label>
                        </div>
                        <!-- // label  -->

                        <div class="col-md-4 col-xl-4 col-lg-5 col-sm-7">
                          <select name="" id="" class="selectpicker">
                            {{ range $val.choix}}
                            <option value="{{ . }}">{{ . }}</option>
                            {{ end }}
                          </select>                      
                        </div>
                        <!-- // select  -->
                      </div>
                      <!-- // row  -->
                    {{end}}
                  {{end}}
            
                  <div class="row form-box">
                    <div class="col-md-4 col-xl-4 col-lg-5 col-sm-5">
                      <label for="">Type de personnalisation :</label>
                    </div>
                    <!-- // label  -->

                    <div class="col-md-4 col-xl-4 col-lg-5 col-sm-7">
                      <select name="" id="" class="selectpicker">
                        {{ range .Params.personnalisation}}
                        <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                      </select>                         
                    </div>
                    <!-- // select  -->
                  </div>
                  <!-- // row  -->
                  <div class="row form-box">
                    <div class="col-md-4 col-xl-4 col-lg-5 col-sm-5">
                      <label for="">Quantité :</label>
                    </div>
                    <!-- // label  -->

                    <div class="col-md-4 col-xl-4 col-lg-5 col-sm-7">
                      <select name="" id="" class="selectpicker qty-items">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                      </select>                         
                    </div>
                    <!-- // select  -->
                  </div>
                  <!-- // row  -->                                                    

                </div>
                <!-- // actions  -->

                <span class="total-price">Total:   <span class="amount item_price">0</span>$ pour <span class="item_number">50</span> unités</span>
                <span class="item_color" style="display: none;"></span>

                <a class="add-to-cart item_add" href="javascript:;">Ajouter au devis</a>

              </div>
              <!-- // details  -->

            </div>
          </div>
          <!-- // content  -->

        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </section>
    <!-- // product  -->

    <section id="related-products-block">
      <header>
        <h3>VOUS AIMEREZ AUSSI</h3>
      </header>

      <div class="container-fluid">

      <div class="row">
      {{ range $product := .Params.crosssell }}
        {{ range where $.Site.Pages ".Params.id" $product }}
          <div class="col-md-3 col-sm-6">
            <div class="categorie-box">
              <div class="image-holder">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Params.image }}" alt="" class="img-responsive">
                    <span><small>En savoir plus...</small></span>
                  </a>
              </div>
              <!-- // image holder  -->
              <div class="categorie-content">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p class="price">{{ .Params.pricerange }} / unité</p>
              </div>
              <!-- // content  -->
            </div>
          </div>
          <!-- // categorie box  -->
        {{ end }}
      {{ end }}

      </div>
      <!-- // row -->

      </div>
      <!-- // fluid  -->

    </section>
    <!-- // related block  -->
    <script>
      var price = [];
      var variantes = [];
      {{with .Params.prix}}
        {{range $ind,$val := .}}
          price.push({{ $val.montant }});
        {{end}}
      {{end}}
    </script>

{{ partial "footer.html" . }}