/*=================================
=            Main Menu            =
=================================*/

#menu-block {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	@include breakpoint(tablet) {
		padding-top: 15px;
		padding-bottom: 30px;
	}
	@include breakpoint(desktop) {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	@include breakpoint(laptop) {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	@media screen and (min-width:1601px) and (max-width:1921px) {
		padding-top: 20px;
		padding-bottom: 20px;
	}	
	ul {
		li {
			display: inline-block;
			padding-left: 40px;
			padding-right: 40px;
			&.current_page_item {
				a {
					box-shadow: inset 0px -6px 0px 0px rgba(56,68,79,1);
				}
			}
			@include breakpoint(desktop) {
				padding-left: 20px;
				padding-right: 20px;
			}
			@include breakpoint(laptop) {
				padding-left: 20px;
				padding-right: 20px;
			}
			@include breakpoint(tablet) {
				padding-left: 13px;
				padding-right: 13px;
			}
			a {
				text-transform: uppercase;
				display: inline-block;
				font-size: 30px;
				font-family: $font-heading;		
				padding-bottom: 10px;
				color:palette(blue);	
				@include breakpoint(desktop) {
					font-size: 23px;
				}
				@include breakpoint(laptop) {
					font-size: 22px;
				}
				@include breakpoint(tablet) {
					font-size: 18px;
				}
				@media screen and (min-width:1601px) and (max-width:1921px) {
					font-size: 23px;
				}								
				&:hover {
					color:palette(yellow);
					box-shadow: inset 0px -6px 0px 0px rgba(56,68,79,1);
				}	
			}
		}
	}
}

/*=====  End of Main Menu  ======*/
