{{ partial "head.html" . }}

    {{ partial "header.html" . }}     
    <div id="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li><a href="{{.Site.BaseURL}}">Accueil</a></li>
              <li><a href="#">Mon panier</a></li>
            </ul>
          </div>
          <!-- // col  -->          
        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </div>
    <!-- // breadcrumb  -->
    
    <div id="cart-page-wrapper">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1>Votre devis</h1>
          </div>
          <!-- // col md 12  -->
        </div>
        <!-- // row  -->
        <div class="row simpleCart_items"></div>
        
        <hr>                        

        <div class="row" id="cart-details-bottom">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
              <div class="cart-form">
                <input type="text" placeholder="Votre courriel*">
                <input type="text" placeholder="Votre entreprise*">
                <input type="text" placeholder="Votre téléphone*">
              </div>
            </div>
            <div class="col-lg-5 col-sm-6">
              <div class="cart-form">
                <textarea name="comments" id="" rows="3" placeholder="Un commentaire?"></textarea>
                <p>Fichiers: <input type="file"></p> 
              </div>
            </div>
          </div>
          <!-- // cart form  -->

          <div class="col-lg-6 col-lg-offset-1 col-sm-offset-3 col-sm-6">
            <div class="cart-details-sum">
              <h4>TOTAL DE VOTRE SÉLECTION:</h4>
              <table width="100%">
                <tr>
                  <td>SOUS-TOTAL</td>
                  <td class="text-right"><span class="cart-subtotal">0</span>$</td>
                </tr>
                <tr>
                  <td>GST</td>
                  <td class="text-right"><span class="cart-tps">0</span>$</td>
                </tr>
                <tr>
                  <td>QST</td>
                  <td class="text-right"><span class="cart-tvq">0</span>$</td>
                </tr>
                <tr>
                  <td><strong>TOTAL</strong></td>
                  <td class="text-right"><span class="cart-total">0</span>$</td>
                </tr>
              </table>

              <footer>
                  <a href="#" class="checkout-button">Envoyer mon devis</a>                
              </footer>

            </div>
          </div>
          <!-- // sum  -->

        </div>   

      </div>
      <!-- // container  -->
    </div>
    <!-- // cart page wrapper  -->
{{ partial "footer.html" . }}