{{ partial "head.html" . }}

    {{ partial "header.html" . }}     
    <div id="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li><a href="{{.Site.BaseURL}}">Accueil</a></li>
              <li><a href="#">Mon panier</a></li>
            </ul>
          </div>
          <!-- // col  -->          
        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </div>
    <!-- // breadcrumb  -->
    
    <div id="cart-page-wrapper">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1>Votre devis</h1>
          </div>
          <!-- // col md 12  -->
        </div>
        <!-- // row  -->
        <div class="row simpleCart_items"></div>
        
        <hr>                        
        <div class="row">
          <p>*Veuillez noter que cette première soumission n'est pas finale. Les prix présentés sont sujets à changement selon les variantes de personnalisation. </p>
          <p>Nous prendrons contact avec vous très rapidement afin d'avoir plus d'information sur votre projet et ainsi vous transmettre une soumission complète.</p>
        </div>
        <div class="row" id="cart-details-bottom">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
              <div class="cart-form">
                <input type="text" placeholder="Votre nom*" id="name">
                <input type="text" placeholder="Votre courriel*" id="email">
                <input type="text" placeholder="Votre entreprise*" id="business">
                <input type="text" placeholder="Votre téléphone*" id="phone">
              </div>
            </div>
            <div class="col-lg-5 col-sm-6">
              <div class="cart-form file-input">
                <textarea name="comments" rows="3" placeholder="Un commentaire?" id="comment"></textarea>
                <form id="fileform"><p>Fichiers: <input type="hidden" data-image-shrink data-multiple="true" data-multiple-max="3" role="uploadcare-uploader" name="fichier" id="fileinput" /><input type="hidden" name="_cc" value="the2deux@gmail.com" /></p></form>
                <span>*Insérez vos logos ici, en format jpeg ou png (max. 3)</span>
              </div>
            </div>
          </div>
          <!-- // cart form  -->

          <div class="col-lg-6 col-lg-offset-1 col-sm-offset-3 col-sm-6">
            <div class="cart-details-sum">
              <h4>TOTAL DE VOTRE SÉLECTION:</h4>
              <table width="100%">
                <tr>
                  <td>SOUS-TOTAL</td>
                  <td class="text-right"><span class="cart-subtotal">0</span>$</td>
                </tr>
                <tr>
                  <td>GST</td>
                  <td class="text-right"><span class="cart-tps">0</span>$</td>
                </tr>
                <tr>
                  <td>QST</td>
                  <td class="text-right"><span class="cart-tvq">0</span>$</td>
                </tr>
                <tr>
                  <td><strong>TOTAL</strong></td>
                  <td class="text-right"><span class="cart-total">0</span>$</td>
                </tr>
              </table>

              <footer>
                  <a href="javascript:;" class="checkout-button">Envoyer mon devis</a> 
                  <img src="/img/uploads/giphy-downsized.gif" width="100px" id="loadinggif" alt="">
                  <p id="ordersent"></p>               
              </footer>

            </div>
          </div>
          <!-- // sum  -->

        </div>   

      </div>
      <!-- // container  -->
    </div>
    <!-- // cart page wrapper  -->
    <script>
      $('a.checkout-button').click(function(){
        // frontend manipulation
        var $ordersent = $('#ordersent');
        var $loadinggif = $('#loadinggif');
        var $checkoutbtn = $('a.checkout-button'); 
        $checkoutbtn.hide();
        $loadinggif.show();

        // getting variables
        var name = $('.cart-form #name').val();
        var email = $('.cart-form #email').val();
        var business = $('.cart-form #business').val();
        var phone = $('.cart-form #phone').val();
        var comment = $('.cart-form textarea#comment').val();
        var cartsub = $('span.cart-subtotal').text();
        var carttps = $('span.cart-tps').text();
        var carttvq = $('span.cart-tvq').text();
        var carttotal = $('span.cart-total').text();

        // set cart array with item objects
        var cart = [];
        simpleCart.each(function(item){
            // get cart variables
            var itemprice = item.get('price');
            var itemnumber = item.get('number');
            var itemunit = itemprice/itemnumber;
            // format variables
            itemprice = itemprice.toFixed(2);
            itemunit = itemunit.toFixed(2);
            // create item object and push in array
            var item = {thumb: item.get('thumb'), name: item.get('name'), price: itemprice, number: itemnumber, unit: itemunit};
            cart.push(item);
        });
        // set totals object
        var totals = {sub: cartsub, tps: carttps, tvq: carttvq, total: carttotal};

        // set date variable
        var rightNow = new Date();
        var res = rightNow.toISOString().slice(0,10).replace(/-/g,"/");

        //function to check if it's an email
        function isEmail(email) {
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          return regex.test(email);
        }

        // form validation, important so that php doesn't fail
        if (!email || !business || !phone || !comment || !name  || !res ) {
          alert("Assurez-vous d'avoir rempli tous les champs!");
        } else {
          if( !isEmail(email)) { 
            alert("Ce n'est pas un courriel");
          } else if (cart.length == 0) {
            alert("Votre panier est vide...");
          } else {

            $.ajax({
            url: 'https://localc.akiamail.com/localc.php',
            type: 'POST',
            data: { name: name, email: email, business: business, phone: phone, comment: comment, cart: cart, totals: totals, date: res},
            success: function (data, status, xhr) {
                      $ordersent.text('Merci de faire affaire avec nous :)');
                      // send files to LocalC
                      if ($('#fileinput').val() !== "") {
                        var url = "https://formspree.io/hello@localc.ca"; // the script where you handle the form input.

                        $.ajax({
                               type: "POST",
                               url: url,
                               data: $("#fileform").serialize(), // serializes the form's elements.
                               dataType: "json",
                               success: function(data){},
                               error: function(data){alert("Les fichiers n'ont pas été envoyés..");}
                        });
                      } else {}

                      // reinitialize cart
                      simpleCart.empty();

                      // redirect client
                      setTimeout(function(){
                        window.location.href = "https://www.localc.ca/catalogue/";
                      }, 1000);
                    },
            error: function (data, status, xhr) {
                      $ordersent.text("Une erreur s'est glissée, veuillez réessayer..");

                      // reset interface, without losing info
                      setTimeout(function(){
                        $loadinggif.hide();
                        $ordersent.text('');
                        $checkoutbtn.show();
                      }, 2000);
                    }
            });
          }
        }
      })
    </script>
{{ partial "footer.html" . }}