{{ partial "head.html" . }}

    {{ partial "header.html" . }}     
    <div id="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li><a href="{{.Site.BaseURL}}">Accueil</a></li>
              <li><a href="#">Mon panier</a></li>
            </ul>
          </div>
          <!-- // col  -->          
        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </div>
    <!-- // breadcrumb  -->
    
    <div id="cart-page-wrapper">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1>Votre devis</h1>
          </div>
          <!-- // col md 12  -->
        </div>
        <!-- // row  -->
        <div class="row simpleCart_items"></div>
        
        <hr>                        
        <div class="row">
          <p>*Veuillez noter que cette première soumission n'est pas finale. Les prix présentés sont sujets à changement selon les variantes de personnalisation. </p>
          <p>Nous prendrons contact avec vous très rapidement afin d'avoir plus d'information sur votre projet et ainsi vous transmettre une soumission complète.</p>
        </div>
        <div class="row" id="cart-details-bottom">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
              <div class="cart-form">
                <input type="text" placeholder="Votre courriel*" id="email">
                <input type="text" placeholder="Votre entreprise*" id="business">
                <input type="text" placeholder="Votre téléphone*" id="phone">
              </div>
            </div>
            <div class="col-lg-5 col-sm-6">
              <div class="cart-form file-input">
                <textarea name="comments" rows="3" placeholder="Un commentaire?" id="comment"></textarea>
                <p>Fichiers: <input type="file"></p>
                <span>*Insérez votre logo ici, en format jpeg ou png</span>
              </div>
            </div>
          </div>
          <!-- // cart form  -->

          <div class="col-lg-6 col-lg-offset-1 col-sm-offset-3 col-sm-6">
            <div class="cart-details-sum">
              <h4>TOTAL DE VOTRE SÉLECTION:</h4>
              <table width="100%">
                <tr>
                  <td>SOUS-TOTAL</td>
                  <td class="text-right"><span class="cart-subtotal">0</span>$</td>
                </tr>
                <tr>
                  <td>GST</td>
                  <td class="text-right"><span class="cart-tps">0</span>$</td>
                </tr>
                <tr>
                  <td>QST</td>
                  <td class="text-right"><span class="cart-tvq">0</span>$</td>
                </tr>
                <tr>
                  <td><strong>TOTAL</strong></td>
                  <td class="text-right"><span class="cart-total">0</span>$</td>
                </tr>
              </table>

              <footer>
                  <a href="#" class="checkout-button">Envoyer mon devis</a>                
              </footer>

            </div>
          </div>
          <!-- // sum  -->

        </div>   

      </div>
      <!-- // container  -->
    </div>
    <!-- // cart page wrapper  -->
    <script>
      $('a.checkout-button').click(function(){
        var email = $('.cart-form #email').val();
        var business = $('.cart-form #business').val();
        var phone = $('.cart-form #phone').val();
        var comment = $('.cart-form textarea#comment').val();
        var cart = [];
        console.log(!business);
        simpleCart.each(function(item){
            var item = {thumb: item.get('thumb'), name: item.get('name'), price: item.get('price')};
            cart.push(item);
        });
        console.log(cart);
        function isEmail(email) {
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          return regex.test(email);
        }
        if (!email | !business | !phone | !comment ) {
          alert("Assurez-vous d'avoir rempli tous les champs");
        } else {
          if( !isEmail(email)) { 
            alert("Ce n'est pas un courriel");
          } else if (cart.length == 0) {
            alert("Votre panier est vide...");
          } else {
            $.ajax({
            url: 'http://phpstack-57985-291203.cloudwaysapps.com/localc.php',
            type: 'POST',
            data: { email: email, business: business, phone: phone, comment: comment, cart: cart },
            success: function (data) {
                        setTimeout(function (){
                        alert(data);
                        }, 1000)
                    }
            });
          }
        }
      })
    </script>
{{ partial "footer.html" . }}