{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="catalogue-page-wrapper">
      <div class="container">
        <div class="row">

        <div id="catalogue-content">
          <div class="row visible-xs">
            <div class="col-md-12">
                <div class="catalogue-box featured-catalogue-box">
                  <a href="#">
                    <img src="/img/catalogue/catalogue.jpg" alt="" class="img-responsive">
                    <div class="category-caption">
                      <h3>TROUVEZ LE PRODUIT QU’IL VOUS FAUT!</h3>
                    </div>
                    <!-- // caption  -->
                  </a>
                  <!-- // link  -->
              </div>
              <!-- // category box  -->                  
            </div>
          </div>
          <!-- // featured row  -->     
        </div>
        <!-- // featured mobile     -->
          
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
            <aside id="catalogue-sidebar">

               <ul id="menu-mobile-new-menu" class="">
                <li class=""><a title="Home" href="index.html" class="main-nav-link">NOUVEAUTÉS</a></li>
                <li><a title="About Us" class="main-nav-link" href="#">ALIMENTAIRE <a class="subnav-item"></a></a>
                  <ul role="menu" class="dropdown-menu-acc">
                    <li><a href="#">Contenants</a></li>
                    <li><a href="#">Vaisselle</a></li>
                    <li><a href="#">Serviettes</a></li>
                    <li><a href="#">Sous-verres</a></li>
                    <li><a href="#">Sous-plats</a></li>
                    <li><a href="#">Planches</a></li>
                  </ul>
                </li>
                <li><a title="About Us" class="main-nav-link" href="#">CADEAUX <a class="subnav-item"></a></a>
                  <ul role="menu" class="dropdown-menu-acc">
                    <li><a href="#">Contenants</a></li>
                    <li><a href="#">Vaisselle</a></li>
                    <li><a href="#">Serviettes</a></li>
                    <li><a href="#">Sous-verres</a></li>
                    <li><a href="#">Sous-plats</a></li>
                    <li><a href="#">Planches</a></li>
                  </ul>
                </li>        
                <li><a title="About Us" class="main-nav-link" href="#">PAPETERIE <a class="subnav-item"></a></a>
                  <ul role="menu" class="dropdown-menu-acc">
                    <li><a href="#">Contenants</a></li>
                    <li><a href="#">Vaisselle</a></li>
                    <li><a href="#">Serviettes</a></li>
                    <li><a href="#">Sous-verres</a></li>
                    <li><a href="#">Sous-plats</a></li>
                    <li><a href="#">Planches</a></li>
                  </ul>
                </li>    
                <li><a title="About Us" class="main-nav-link" href="#">SACS <a class="subnav-item"></a></a>
                  <ul role="menu" class="dropdown-menu-acc">
                    <li><a href="#">Contenants</a></li>
                    <li><a href="#">Vaisselle</a></li>
                    <li><a href="#">Serviettes</a></li>
                    <li><a href="#">Sous-verres</a></li>
                    <li><a href="#">Sous-plats</a></li>
                    <li><a href="#">Planches</a></li>
                  </ul>
                </li> 
                <li><a title="About Us" class="main-nav-link" href="#">CONFORT <a class="subnav-item"></a></a>
                  <ul role="menu" class="dropdown-menu-acc">
                    <li><a href="#">Contenants</a></li>
                    <li><a href="#">Vaisselle</a></li>
                    <li><a href="#">Serviettes</a></li>
                    <li><a href="#">Sous-verres</a></li>
                    <li><a href="#">Sous-plats</a></li>
                    <li><a href="#">Planches</a></li>
                  </ul>
                </li> 
                <li><a title="About Us" class="main-nav-link" href="#">ACCESSOIRES <a class="subnav-item"></a></a>
                  <ul role="menu" class="dropdown-menu-acc">
                    <li><a href="#">Contenants</a></li>
                    <li><a href="#">Vaisselle</a></li>
                    <li><a href="#">Serviettes</a></li>
                    <li><a href="#">Sous-verres</a></li>
                    <li><a href="#">Sous-plats</a></li>
                    <li><a href="#">Planches</a></li>
                  </ul>
                </li>                                                          
              </ul>
              <!-- // nav  -->


            </aside>
          </div>
          <!-- // catalogue sidebar  -->

          <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8">
            <div id="catalogue-content">

              <div class="row hidden-xs">
                <div class="col-md-12">
                    <div class="catalogue-box featured-catalogue-box">
                      <a href="#">
                        <img src="/img/catalogue/catalogue.jpg" alt="" class="img-responsive">
                        <div class="category-caption">
                          <h3>TROUVEZ LE PRODUIT QU’IL VOUS FAUT!</h3>
                        </div>
                        <!-- // caption  -->
                      </a>
                      <!-- // link  -->
                  </div>
                  <!-- // category box  -->                  
                </div>
              </div>
              <!-- // featured row  -->

              <div class="row">
                
                <div class="col-md-4 col-sm-6">
                  <div class="catalogue-box">
                    <a href="#">
                      <img src="/img/catalogue/catalogue1.jpg" alt="" class="img-responsive">
                      <div class="category-caption">
                        <h3>CADEAUX</h3>
                      </div>
                      <!-- // caption  -->
                    </a>
                    <!-- // link  -->
                  </div>
                </div>
                <!-- // category box  -->

                <div class="col-md-4 col-sm-6">
                  <div class="catalogue-box">
                    <a href="#">
                      <img src="/img/catalogue/catalogue2.jpg" alt="" class="img-responsive">
                      <div class="category-caption">
                        <h3>CADEAUX</h3>
                      </div>
                      <!-- // caption  -->
                    </a>
                    <!-- // link  -->
                  </div>
                </div>
                <!-- // category box  -->

                <div class="col-md-4 col-sm-6">
                  <div class="catalogue-box">
                    <a href="#">
                      <img src="/img/catalogue/catalogue3.jpg" alt="" class="img-responsive">
                      <div class="category-caption">
                        <h3>CADEAUX</h3>
                      </div>
                      <!-- // caption  -->
                    </a>
                    <!-- // link  -->
                  </div>
                </div>
                <!-- // category box  -->         

                <div class="col-md-4 col-sm-6">
                  <div class="catalogue-box">
                    <a href="#">
                      <img src="/img/catalogue/catalogue4.jpg" alt="" class="img-responsive">
                      <div class="category-caption">
                        <h3>CADEAUX</h3>
                      </div>
                      <!-- // caption  -->
                    </a>
                    <!-- // link  -->
                  </div>
                </div>
                <!-- // category box  -->  

                <div class="col-md-4 col-sm-6">
                  <div class="catalogue-box">
                    <a href="#">
                      <img src="/img/catalogue/catalogue5.jpg" alt="" class="img-responsive">
                      <div class="category-caption">
                        <h3>CADEAUX</h3>
                      </div>
                      <!-- // caption  -->
                    </a>
                    <!-- // link  -->
                  </div>
                </div>
                <!-- // category box  -->  

                <div class="col-md-4 col-sm-6">
                  <div class="catalogue-box">
                    <a href="#">
                      <img src="/img/catalogue/catalogue6.jpg" alt="" class="img-responsive">
                      <div class="category-caption">
                        <h3>CADEAUX</h3>
                      </div>
                      <!-- // caption  -->
                    </a>
                    <!-- // link  -->
                  </div>
                </div>
                <!-- // category box  -->                                                                         

              </div>
              <!-- // regular boxes row  -->
              
            </div>
          </div>
          <!-- // catalogue content  -->

        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </section>
    <!-- // catalogue page wrapper  -->
{{ partial "footer.html" . }}