{{ partial "head.html" . }}

    {{ partial "header.html" . }}

<section id="our-creator-block">
      <div class="container">
        <div class="row">
        
          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator1.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator2.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator3.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator4.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator5.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator6.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator7.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator8.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->

          <div class="col-md-4 col-sm-6">
            <div class="creator-box">
              <a href="#">
                <img src="/img/misc/creator9.jpg" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>BKIND</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->                                                                                
          
        </div>
        <!-- // row  -->
        </div>
        <!-- // container  -->

      </div>
    </section>
    <!-- // regular wrapper  -->
{{ partial "footer.html" . }}