<a href="#start" class="scroll-to-top"></a>

    <footer id="page-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 cl-md-12 col-sm-12">
            <div class="brand-box">
              
              <a href="/"></a>

            </div>
          </div>
          <!-- // footer box  -->

          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="nav-box">
              <ul>
                <li><a href="/">ACCUEIL</a></li>
                <li><a href="/catalogue/">CATALOGUE</a></li>
                <li><a href="/nos-createurs/">NOS CRÉATEURS</a></li>
              </ul>
            </div>
          </div>
          <!-- // nav  -->

          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="nav-box">
              <ul>
                <li><a href="/a-propos/">À PROPOS</a></li>
                <li><a href="/contactez-nous/">NOUS CONTACTER</a></li>
                <li><a href="/blogue/">BLOGUE</a></li>
              </ul>
            </div>
          </div>
          <!-- // nav  -->      

          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="footer-info">
              <p><a href="mailto:hello@localc.ca">HELLO@LOCALC.CA</a></p>
              <p><a href="#">T. 438.275.2630</a></p>
              <!-- <ul>
                <li><a href="#">FAQ</a></li>
              </ul> -->
            </div>
            <!-- // footer info  -->
            <div id="newsletter-box">
              <small>S’INSCRIRE À NOTRE INFOLETTRE</small>
              <form action="https://localc.us16.list-manage.com/subscribe/post" method="POST">
                <input type="hidden" name="u" value="10d457360488f1a91eddd0cbb">
                <input type="hidden" name="id" value="76145d7411">
                <input type="text" class="newsletter-btn" placeholder="Votre courriel" name="MERGE0" id="MERGE0">
                <input type="submit" value="Envoyer">
              </form>
            </div>
            <!-- // nesletter  -->
          </div>    
          <!-- // footer ifno  -->

        </div>
        <!-- // row  -->

        <div id="copy-bar">
          <small>&copy; 2017 Local C <strong> Service de produits promotionnels faits localement. </strong> Tous droits réservés.</small>
        </div>
        <!-- // copy bar  -->

      </div>
      <!-- // container  -->
    </footer>
    <!-- // footer  -->
    <!-- <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{.Site.BaseURL}}js/vendor/jquery-1.12.0.min.js"><\/script>')</script> -->
    <script src="/js/custom-dist.js"></script>
    
</body>

</html>