{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <header id="mas-header">
      
      <div id="top-slider">

        <div class="item">
          <img src="/img/slider/slide1.jpg" alt="" class="img-responsive">
          <div class="slider-caption">
            <div class="container">
              <h1>DE TOUT POUR LE BUREAU!</h1>
            </div>
            <!-- // container  -->
          </div>
          <!-- // slider caption  -->
        </div>
        <!-- // item  -->

        <div class="item">
          <img src="/img/slider/slide2.jpg" alt="" class="img-responsive">
          <div class="slider-caption">
            <div class="container">
              <h1>BONNE RETRAITE! </h1>
            </div>
            <!-- // container  -->
          </div>
          <!-- // slider caption  -->
        </div>
        <!-- // item  -->                
        
      </div>
      <!-- // slider  -->

    </header>
    <!-- // mas header  -->

    <section id="about-block">
      <div class="container">
        <div id="about-content">
          <p>Objets promotionnels faits au Québec — Faites rayonner votre entreprise avec <span style="display: inline-block">Local C</span></p>
        </div>
        <!-- // about content  -->
      </div>
      <!-- // container -->
    </section>
    <!-- // about block  -->

    <section id="categories-block">
      <div class="container">
        <div class="row">
          
          {{ with $.Site.Data.categoriesorg.categories }}
            {{range $ind,$val := .}}
            {{ if $val.photo }}
            <div class="col-md-4 col-sm-4">
              <div class="category-box">
                <a href="/categories/{{ $val.nom | urlize }}/">
                  <img src="{{ $val.photo }}" alt="" class="img-responsive">
                  <div class="category-caption">
                    <h3>{{upper $val.nom}}</h3>
                  </div>
                  <!-- // caption  -->
                </a>
                <!-- // link  -->
              </div>
            </div>
            <!-- // category box  -->
            {{ end }}
            {{ end }}
          {{ end }}                                                   

        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </section>
    <!-- // categories  -->

    <section id="steps-block">
      <div class="container">
        <div id="steps-content">
          <header>
            <h4>On s’occupe de vous!</br>Voici les étapes que nous traverserons ensemble.</h4>
          </header>
          <!-- // header  -->

          <div class="step-box">
          <img src="/img/ico/selection.svg" alt="Your Logo Alt" onerror="this.src='/img/ico/step1.png'">

            <p>Faites votre choix</br> parmi notre sélection d’objets locaux. </p>
          </div>
          <!-- // step box  -->

          <div class="step-box">
            <img src="/img/ico/prendre_contact.svg" alt="Your Logo Alt" onerror="this.src='/img/ico/step3.png'">
            <p>Nous vous contacterons</br>afin de confirmer votre commande et répondre à vos questions.</p>
          </div>
          <!-- // step box  -->

          <div class="step-box">
            <img src="/img/ico/visuelle.svg" alt="Your Logo Alt" onerror="this.src='/img/ico/step3.png'">
            <p>Nous créons votre objet sur mesure</br>si vous avez choisi l’option personnalisation + votre logo.</p>
          </div>
          <!-- // step box  -->

          <div class="step-box">
            <img src="/img/ico/confirmation.svg" alt="Your Logo Alt" onerror="this.src='/img/ico/step4.png'">
            <p>Nous donnons vie à votre marque</br>une fois votre commande confirmée, on passe en production.</p>
          </div>
          <!-- // step box  -->       

          <div class="step-box">
            <img src="/img/ico/livraison.svg" alt="Your Logo Alt" onerror="this.src='/img/ico/step5.png'">
            <p>Nous expédions vos objets</br>à votre adresse dans les plus brefs délais.</p>
          </div>
          <!-- // step box  -->                                    

        </div>
        <!-- // steps  -->
      </div>
    </section>
    <!-- // steps  -->

{{ partial "footer.html" . }}