{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="blog-wrapper">
      <div class="container">
        <div class="row">
          {{ range where $.Site.Pages "Type" "articles" }}
          <div class="col-md-4 col-sm-6 safari-adj">
            <div class="blog-box">
              <div class="img-holder">
                <a href="{{.Permalink}}">
                  <img src="{{.Params.image}}" alt="{{.Title}}" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>{{.Date.Format "02/01/2006"}}</time>
              <h5><a href="{{.Permalink}}">{{.Title}}</a></h5>
              <p>{{ .Summary }} <a href="{{.Permalink}}">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->
          {{ end }}                                                                                

        </div>
        <!-- // row  -->
      </div>
    </section>
    <!-- // blog wrapper  -->
{{ partial "footer.html" . }}