{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="blog-wrapper">
      <div class="container">
        <div class="row">
          
          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog1.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>3 MARS 2017</time>
              <h5><a href="#">Le savoir-faire des artisans du cuir</a></h5>
              <p>L’entreprise Coria offre des accessoires fabriqués localement, à la main, avec des matériaux nobles qui résisteront <a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog2.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>3 MARS 2017</time>
              <h5><a href="#">Les valeurs d’abord...</a></h5>
              <p>Les valeurs de la compagnie BKIND se  reflètent dans tout ce qu’ils font. Tous leurs ingrédients sont naturels et bons pour  <a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog3.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>3 MARS 2017</time>
              <h5><a href="#">Sucré ou salé?</a></h5>
              <p>Catherine s’amuse: elle explore des saveurs parfois inusitées, parfois classiques mais toujours précises et jouissives. <a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog4.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>10 FÉVRIER 2017</time>
              <h5><a href="#">Darvee, bête créative</a></h5>
              <p>La Darvee d’Amérique est une bête créative qui se nourrit de jokes plates et de vidéos de chats. Graphiste / illustratrice de <a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog5.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>5 FÉVRIER 2017</time>
              <h5><a href="#">La classe au bureau!</a></h5>
              <p>Que ce soit au bureau ou lors de votre prochain 5 à 7, les noeuds papillon d’Union Bow Ties vous permettront d’avoir<a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog6.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>27 JANVIER 2017</time>
              <h5><a href="#">L’amour de créer</a></h5>
              <p>Nées sur le bord du lac McGregor à Val-des-Monts au Québec, les soeurs Maxime et Clôde Saint-Denis ont,<a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog7.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>20 JANVIER 2017</time>
              <h5><a href="#">Le talent montréalais</a></h5>
              <p>Baltic Club est une compagnie basée à Montréal et fondée par Mélanie Ouellette et Brice Salmon. Ce qui débuta <a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog8.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>3 MARS 2017</time>
              <h5><a href="#">Les essentiels pour le bureau</a></h5>
              <p>Trouvez l’essentiel des produits de bureau fabriqués localement. Des produits de qualité, éthiques et durables.<a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->

          <div class="col-md-4 col-sm-6">
            <div class="blog-box">
              <div class="img-holder">
                <a href="#">
                  <img src="/img/misc/blog9.jpg" alt="" class="img-responsive">
                  <div class="image-caption">
                    <span class="plus-link"></span>
                  </div>
                  <!-- // caption  -->
                </a>
              </div>
              <!-- // img holder  -->
              <time>3 MARS 2017</time>
              <h5><a href="#">20 idées cadeaux fabriquées ici</a></h5>
              <p>Vous voulez féliciter vos employés pour leur travail remarquable? Voici 20 idées cadeaux qui sauront plaire à tous <a href="#">|...|</a></p>
            </div>
          </div>
          <!-- // blog box  -->                                                                                

        </div>
        <!-- // row  -->
      </div>
    </section>
    <!-- // blog wrapper  -->
{{ partial "footer.html" . }}