{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="contact-page-block">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 col-lg-5 col-lg-offset-1 col-sm-6">
            <div id="contact-left">
              <h1>Communiquez avec nous!</h1>
              <h2>N'hésitez pas à nous faire part de vos besoins. Nous pouvons répondre à pratiquement à toutes les demandes!</h2>
              <p><strong>E.</strong>  <a href="mailto:hello@localc.ca">hello@localc.ca</a></p>
              <p><strong>T.</strong> 438.275.2630</p>
              <h6>Marie-Eve Dontigny</h6>
              <span class="job-title">fondatrice</span>
              <h6>Andréanne Courchesne</h6>
              <div class="job-title">co-fondatrice</div>

              <div id="socials">
                <ul>
                  <li><a href="https://www.facebook.com/local.c.qc/" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com/local_c/" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <!-- <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li> -->
                  <li><a href="https://www.linkedin.com/company-beta/11096071/" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>                
              </div>
              <!-- // socials  -->

            </div>
          </div>
          <!-- // contact left  -->

          <div class="col-md-6 col-lg-5 col-sm-6 col-xs-12">
            <form id="contact-right" action="/" netlify method="post" netlify-honeypot="bot-field" name="contact-fr">
              <input type="text" placeholder="Votre nom" name="nom">
              <input type="text" placeholder="Votre courriel" name="email">
              <textarea name="commentaire" id="commentaire" placeholder="Questions / Commentaires"></textarea>
              <p class="hidden">
                <label>Don’t fill this out: <input name="bot-field"></label>
              </p>
              <div style="margin-bottom: 20px; margin-top: -20px;" data-netlify-recaptcha></div>
              <input type="submit" value="Soumettre">
            </form>
          </div>
          <!-- // right  -->

        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </section>
    <!-- // contact page  -->
{{ partial "footer.html" . }}