{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<section id="contact-page-block">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 col-lg-5 col-lg-offset-1 col-sm-6">
            <div id="contact-left">
              <h1>Communiquez avec nous!</h1>
              <h2>Il nous fera plaisir de  vous répondre rapidement.</h2>
              <p><strong>E.</strong>  <a href="mailto:info@localc.com">info@localc.com</a></p>
              <p><strong>T.</strong> 514.433.4319</p>
              <h6>Marie-Eve Dontigny</h6>
              <span class="job-title">fondatrice</span>
              <h6>Andréanne Courchesne</h6>
              <div class="job-title">co-fondatrice</div>

              <div id="socials">
                <ul>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>                
              </div>
              <!-- // socials  -->

            </div>
          </div>
          <!-- // contact left  -->

          <div class="col-md-6 col-lg-5 col-sm-6">
            <div id="contact-right">
              <input type="text" placeholder="Votre nom">
              <input type="text" placeholder="Votre courriel">
              <textarea name="" id="" placeholder="Questions / Commentaires"></textarea>
              <input type="submit" value="Soumettre">
            </div>
          </div>
          <!-- // right  -->

        </div>
        <!-- // row  -->
      </div>
      <!-- // container  -->
    </section>
    <!-- // contact page  -->
{{ partial "footer.html" . }}