{{ partial "head.html" . }}

    {{ partial "header.html" . }}
    <section id="blog-wrapper">
      <div class="container">

        <div id="blog-single-page">

          <img src="{{.Params.image}}" alt=""{{.Title}} class="img-responsive aligncenter">

          <h1>{{.Title}}</h1>
          <h2>{{.Date.Format "02/01/2006"}} / PUBLIÉ PAR {{.Params.auteur}} / COMMENTAIRE(S) : 0</h2>

          {{ .Content }}

        </div>
        <!-- // blog single  -->

      </div>
    </section>
    <!-- // blog wrapper  -->
    <!-- <div id="disqus_thread"></div>
		<script>

		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		/*
		var disqus_config = function () {
		this.page.url = {{.Permalink}};  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = {{.Params.slug}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		{{ if eq .Lang "fr" }}
        this.language = "fr";
    {{ else if eq .Lang "en" }}
        this.language = "en";
    {{ end }}
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://localc.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
                            

{{ partial "footer.html" . }}