{{ partial "head.html" . }}

    {{ partial "header.html" . }}
    <section id="blog-wrapper">
      <div class="container">

        <div id="blog-single-page">

          <img src="{{.Params.image}}" alt=""{{.Title}} class="img-responsive aligncenter">

          <h1>{{.Title}}</h1>
          <h2>{{.Date.Format "02/01/2006"}} / PUBLIÉ PAR {{.Params.auteur}} / COMMENTAIRE(S) : 0</h2>

          {{ .Content }}


        </div>
        <!-- // blog single  -->

      </div>
    </section>
    <!-- // blog wrapper  -->

{{ partial "footer.html" . }}