{{ partial "head.html" . }}

    {{ partial "header.html" . }}

<section id="our-creator-block">

      <div class="container">
        <div class="row">
        {{ range where $.Site.Pages "Type" "createursindiv" }}
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 safari-adj">
            <div class="creator-box">
              <a href="{{.Permalink}}">
                <img src="{{.Params.image}}" alt="" class="img-responsive">  
                <div class="creator-caption">
                  <h6>{{upper .Title}}</h6>
                </div>
                <!-- // caption   -->
              </a>
            </div>
          </div>
          <!-- // creator box  -->
        {{ end }}
          
        </div>
        <!-- // row  -->
        </div>
        <!-- // container  -->

      </div>
    </section>
    <!-- // regular wrapper  -->
{{ partial "footer.html" . }}